<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <title>layout2</title>
</head>
<body>
    <div class="flex">
        <div>
    
    <div class="flex">
        <div class="yo"></div>
        <div class="yo"></div>
        <div class="yo"></div>
    </div>
    <div class="yo"></div>
    <div class="flex">
        <div class="yoside "></div>
        <div class="yo"></div>
    </div>
    </div>
    </div>

    <div class="botaomenu">
            <a href="index.html">MENU</a>
    </div>

</body>
</html>