
.yo{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    border-radius: 15px;
}
.flex{
    display: flex;
    justify-content: center;
}
.yoside{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    padding-right: 190;
    border-radius: 15px;
}
.yobasso{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    padding-bottom: 190;
    border-radius: 15px;
}

.m_upzero{
    margin-top: 0;
}
.m_bassozero{
    margin-bottom: 0;
}
.invisible{
    background-color: #7d95ff;
}

body {
    background-color: #7d95ff;
    padding: 50px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #333;
}



.grid {
    display: grid;
    gap: 15px;
}

.botao {
    color: #333;
    background-color: white;
    border: 2px solid #e8aac9;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
    margin: 20px 400px;
}

.botao:hover {
    background-color: white;
    color: #333;
    border: 4px solid #e8aac9;
    transform: translateY(-3px);
    padding: 25px;
}
.secaolayouts{
    max-width: 700px;
    margin: 0 auto;
}

.botaomenu{
    background-color: #e8aac9;
    border-radius: 15px;
    margin: 40px auto;
    width: 100px;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
    display: block;
    width: 120px;
}

.botaomenu:hover{
    background-color: #333;
    color: antiquewhite;
    transform: translateY(-3px);;
}

.botaomenu a {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botaomenu:hover a {
    color: #f8f8f8;
}
